.chat-message-user {
    display: flex;
    justify-content: end;
    align-items: center;
}

.chat-message-robot {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.chat-message-text {
    background-color: rgb(231, 226, 226);
    padding: 10px 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 300px;
}

.chat-message-profile {
    width: 45px;
}